### **Data Inference - Bank Customer Churn Prediction**

Pada tahapan ini, kita akan membaut data dummy untuk melakukan pengujian terhadap model klasifikasi yang telah kita buat. Disini model yang digunakan adalah hasil model terbaik berdasarkan hasil mdoel training dan juga setelah dilakukan hyperparameter tuning - yaitu Gradient Boosting Classifier.

#### **Import Library**

In [5]:
#import library untuk membuat data interference 
import pandas as pd
import numpy as np
import pickle
import json
from sklearn import *

#### **Memuat Model**

Memuat model yang telah disimpan dalam bentuk file pickle yang akan digunakan untuk melakukan pengujian.

In [6]:
#Memuat model yang akan digunakan untuk proses data inference
with open('best_models_gb.pkl', 'rb') as file_4:
  gbmodel = pickle.load(file_4)

#### **Membuat Dataset**

Pada dataset dummy ini, kolom-kolom yang digunakan sudah difilter dengan menggunakan feature selection untuk memudahkan pembuatan data.

In [7]:
#Menentukan jumlah rows
num_rows = 10

#Membuat dataset
data_purchased_dummy = {
    'active_member': np.random.choice([0,1], num_rows),  
    'country': np.random.choice(['France','Spain','Germany'], num_rows),  
    'gender': np.random.choice(['Male','Female'], num_rows),
    'products_number': np.random.choice([1,2,3,4], num_rows),  
    'age': np.random.uniform(20, 95, num_rows),  
    'balance': np.random.uniform(0, 170000, num_rows) 
}

#Memuat data ke dalam dataset
data_bank_customer = pd.DataFrame(data_purchased_dummy)
data_bank_customer.head()

   active_member  country  gender  products_number        age        balance
0              0   France    Male                4  36.714529   57747.525033
1              1  Germany    Male                2  58.460498  108571.728264
2              1    Spain    Male                3  24.591875   31782.760031
3              0    Spain  Female                2  76.948928  104523.747733
4              1  Germany  Female                2  64.495596  110611.827338

#### **Testing Model Inference**

In [8]:
#predict using linear reg model

y_pred_inf = gbmodel.predict(data_bank_customer)
y_pred_inf= pd.DataFrame(y_pred_inf)
y_pred_inf.rename(columns={0: 'Prediction Result on Default Payment Next Month'}, inplace=True)
y_pred_inf

   Prediction Result on Default Payment Next Month
0                                                1
1                                                0
2                                                1
3                                                1
4                                                0
5                                                1
6                                                1
7                                                0
8                                                0
9                                                1